<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coffees</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
<nav class="nav nav-pills nav-fill">
    <a class="nav-link" th:href="@{/cafes}">Cafes</a>
    <a class="nav-link active" aria-current="page" th:href="@{/coffees}">Coffees</a>
    <a class="nav-link" aria-current="page" th:href="@{/logout}">Logout (<span sec:authentication="name"></span>)</a>
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>N</th>
        <th>Name</th>
        <th>Price</th>
        <th>NewProduct</th>
        <th>HotProduct</th>
        <th>Picture</th>
        <th>Description</th>
        <th>Cafe</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="coffee,iter : ${coffees}">
        <td th:text="${iter.index+1}"/>
        <td th:text="${coffee.name}"/>
        <td th:text="${coffee.price}"/>
        <td><input type="checkbox" class="form-check-input" th:checked="${coffee.newProduct}" disabled/></td>
        <td><input type="checkbox" class="form-check-input" th:checked="${coffee.hotProduct}" disabled/></td>
        <td th:text="${coffee.picture}"/>
        <td th:text="${coffee.description}"/>
        <td th:text="${coffee.cafe.name}"/>
        <td>
            <button type="button" class="btn btn-outline-success" th:onclick="|location.href='@{'/editCoffee/' + ${coffee.id}}'|">Edit</button>
            <button type="button" class="btn btn-outline-danger" th:onclick="|location.href='@{'/deleteCoffee/' + ${coffee.id}}'|">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<button type="button" class="btn btn-outline-info" th:onclick="|location.href='/addCoffee';|">Add</button>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>





